Repository intel/intel-device-plugins-for-kubernetes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kad, @mythi, @bart0sh, @tkatila, @uniemimu, @eero-t, @hj-johannes-lee, @ozhuraki

gpu: add levelzero sidecar support for plugin and the deployment files
  cmd/gpu_plugin/gpu_plugin.go
  cmd/gpu_plugin/gpu_plugin_test.go
  cmd/gpu_plugin/levelzeroservice/levelzero_service.go
  cmd/gpu_plugin/levelzeroservice/levelzero_service_test.go
  cmd/gpu_plugin/rm/gpu_plugin_resource_manager.go
  cmd/gpu_plugin/rm/gpu_plugin_resource_manager_test.go
  cmd/internal/labeler/labeler.go
  cmd/internal/labeler/labeler_test.go
  deployments/gpu_plugin/overlays/health/args.yaml
  deployments/gpu_plugin/overlays/health/kustomization.yaml
  deployments/gpu_plugin/overlays/levelzero/kustomization.yaml
  deployments/gpu_plugin/overlays/levelzero/l0-mounts.yaml
  deployments/gpu_plugin/overlays/levelzero/levelzero.yaml
  deployments/gpu_plugin/overlays/wsl/kustomization.yaml
  deployments/gpu_plugin/overlays/wsl/wsl_args.yaml
  deployments/gpu_plugin/overlays/wsl/wsl_mounts.yaml
Owners: @tkatila, @bart0sh, @uniemimu, @mythi, @hj-johannes-lee

e2e: gpu: add levelzero deployment test
  .github/workflows/lib-e2e.yaml
  test/e2e/gpu/gpu.go
Owners: @bart0sh, @kad, @mythi, @tkatila, @ozhuraki, @hj-johannes-lee

workflow: add intel-gpu-levelzero but don't publish
  .github/workflows/lib-build.yaml
  .github/workflows/lib-publish.yaml
  .github/workflows/lib-validate.yaml
Owners: @bart0sh, @kad, @mythi, @tkatila

Rename pci to PCI in various places
  cmd/gpu_plugin/gpu_plugin.go
  cmd/gpu_plugin/gpu_plugin_test.go
  cmd/gpu_plugin/labels.md
  cmd/internal/labeler/labeler.go
  cmd/internal/labeler/labeler_test.go
Owners: @tkatila, @bart0sh, @uniemimu, @mythi

gpu: levelzero: documentation
  README.md
  cmd/gpu_levelzero/README.md
  cmd/gpu_plugin/README.md
  cmd/internal/levelzero/README.md
Owners: @kad, @mythi, @bart0sh, @tkatila, @eero-t, @uniemimu

.github/CODEOWNERS:

#
# Syntax and details are here: https://help.github.com/articles/about-codeowners/
#
# Global code ownership, fallback
*                   @kad @mythi @bart0sh @tkatila

# CI and building
.github/workflows/  @bart0sh @kad @mythi @tkatila
/scripts/           @bart0sh @kad @mythi

# Binaries
/cmd/               @mythi @bart0sh @tkatila
/cmd/fpga_tool/     @bart0sh @kad @mythi
/cmd/gpu_fakedev/   @tkatila @uniemimu @eero-t
/cmd/gpu_plugin/    @tkatila @bart0sh @uniemimu
/cmd/gpu_nfdhook/   @tkatila @bart0sh @uniemimu
/cmd/gpu_levelzero/ @tkatila @eero-t @uniemimu
/cmd/qat_plugin/    @hj-johannes-lee @mythi
/cmd/sgx_plugin/    @hj-johannes-lee @mythi
/cmd/dsa_plugin/    @hj-johannes-lee @ozhuraki @mythi
/cmd/iaa_plugin/    @hj-johannes-lee @ozhuraki @mythi
/cmd/dlb_plugin/    @bart0sh @hj-johannes-lee
/cmd/xpumanager_sidecar/   @tkatila @uniemimu

# Framework
/pkg/               @mythi @bart0sh @tkatila
/pkg/topology/      @bart0sh @kad

# Deployments
/deployments/       @hj-johannes-lee @bart0sh @mythi @tkatila

# Demos
/demo/              @tkatila @bart0sh @mythi @kad

# Testing
/test/              @mythi @bart0sh @ozhuraki @hj-johannes-lee

# New dependencies review
/go.sum             @kad @mythi @bart0sh @tkatila
/go.mod             @kad @mythi @bart0sh @tkatila
