Repository intel/intel-device-plugins-for-kubernetes, pull requests merged in 2020-10, with the labels that each got.

#480 improve docs for no_proxy
  cmd/fpga_admissionwebhook/README.md
  cmd/operator/README.md
Labels: docs

#481 SGX remote attestation
  .github/workflows/ci.yaml
  demo/sgx-aesmd-demo/Dockerfile
  deployments/operator/samples/deviceplugin_v1_sgxdeviceplugin.yaml
  deployments/sgx_aesmd/base/aesmd.conf
  deployments/sgx_aesmd/base/intel-sgx-aesmd.yaml
  deployments/sgx_aesmd/base/kustomization.yaml
  deployments/sgx_aesmd/base/sgx_default_qcnl.conf
  deployments/sgx_aesmd/kustomization.yaml
Labels: sgx

#483 sgx: make SGX NFD kustomization overlay independent
  cmd/sgx_plugin/README.md
  deployments/sgx_nfd/kustomization.yaml
  deployments/sgx_nfd/nfd-master.yaml
  deployments/sgx_nfd/nfd-worker-daemonset.yaml
  deployments/sgx_nfd/nfd-worker.conf
  deployments/sgx_plugin/base/kustomization.yaml
  test/e2e/sgx/sgx.go
Labels: sgx

#485 Fix FPGA DFL Release/Assign ioctl numbers
  pkg/fpga/dfl_linux.go
Labels: bug, fpga

#484 SGX documentation
  README.md
  cmd/sgx_plugin/README.md
  deployments/sgx_enclave_apps/base/intelsgx-job.yaml
  deployments/sgx_enclave_apps/base/kustomization.yaml
  deployments/sgx_enclave_apps/overlays/sgx_ecdsa_aesmd_quote/change_workingdir_and_command.json
  deployments/sgx_enclave_apps/overlays/sgx_ecdsa_aesmd_quote/kustomization.yaml
  deployments/sgx_enclave_apps/overlays/sgx_ecdsa_inproc_quote/add_hostnetwork.yaml
  deployments/sgx_enclave_apps/overlays/sgx_ecdsa_inproc_quote/add_sgx_default_qcnl_conf.yaml
  deployments/sgx_enclave_apps/overlays/sgx_ecdsa_inproc_quote/kustomization.yaml
  deployments/sgx_enclave_apps/overlays/sgx_ecdsa_inproc_quote/sgx_default_qcnl.conf
Labels: docs, sgx

#478 fpga: reimplement device discovering
  cmd/fpga_plugin/dfl.go
  cmd/fpga_plugin/dfl_test.go
  cmd/fpga_plugin/fpga_plugin.go
  cmd/fpga_plugin/fpga_plugin_test.go
  cmd/fpga_plugin/opae.go
  cmd/fpga_plugin/opae_test.go
Labels: fpga
